.brand {
  text-decoration: none;
  max-width: 100%;
  color: var(--color-primary);
}

.logo-svg,
.logo-img {
  width: 4rem;
}

.logo-html-text {
  font-size: var(--font-size--logo);
  font-family: var(--font-logo);
}

/* responsive */

@media (max-width: 1200px) {
  .logo-svg,
  .logo-img {
    width: 2rem;
  }
}
