.blog a {
  color: var(--color-primary);
  text-decoration: none;
}

.cards {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.card {
  padding: var(--gap);
}

.card:hover {
  background-color: var(--color-gray--light);
}

.card .title {
  font-size: var(--font-size--h2);
}

.card time {
  margin-bottom: var(--gap05);
  color: var(--color-gray);
  font-size: var(--font-size--tiny);
  display: block;
}

.card .excerpt {
  font-size: var(--font-size--tiny);
}

.card .excerpt p {
  margin-bottom: 0;
}

/* responsive */

@media (max-width: 1200px) {
  .cards {
    grid-template-columns: 1fr 1fr;
  }
}

@media (max-width: 600px) {
  .cards {
    display: block;
  }
}
