.blog-post strong {
  color: var(--color-primary);
  font-weight: normal;
}

.blog-post h2:not(:first-child) {
  margin-top: var(--gap);
}

.blog-post a {
  color: var(--color-primary);
  word-break: break-all;
}

.title {
  text-transform: uppercase;
  margin-bottom: var(--gap05);
}

time {
  display: block;
  margin-bottom: var(--gap2);
  font-size: var(--font-size--tiny);
}

.footnotes {
  font-size: var(--font-size--tiny);
  margin: var(--gap2) 0 0;
}

.footnotes p {
  display: inline;
}

.footnotes li {
  margin-bottom: var(--gap05);
}

/* responsive */

@media (max-width: 900px) {
  .blog-post-content {
    display: block;
  }
  .author-time {
    text-align: left;
  }
  .body {
    margin-left: 20vw;
  }
}

@media (max-width: 600px) {
  .body {
    margin-left: 0;
  }
}
