.menu {
  font-family: var(--font-serif);
  text-transform: uppercase;
}

.toggle-menu.btn-icon {
  display: none;
}

.nav-item {
  color: var(--color-text--bold);
  text-decoration: none;
  font-size: var(--font-size--menu);
  transition: var(--transition);
}

.nav-item:hover,
.nav-item.active {
  color: var(--color-primary);
}

/* responsive */

@media (max-width: 900px) {
  .menu-is-open .nav-pages {
    display: block;
  }

  .toggle-menu.btn-icon {
    display: flex;
  }

  .menu-is-open .toggle-menu .icon-menu {
    display: none;
  }

  .menu-is-open .toggle-menu .icon-close {
    display: inline-block;
  }

  .toggle-menu .icon-close {
    display: none;
  }

  .nav-pages {
    position: absolute;
    top: var(--menu-height);
    left: 0;
    width: 100%;
    display: none;
    height: calc(100vh - var(--menu-height));
    background: rosybrown;
    z-index: var(--z--menu);
  }

  .nav-item {
    display: block;
    margin: 0 !important;
    padding: calc(var(--gap) / 2) 0;
    text-align: center;
  }
}
