.hero {
  width: 100%;
  height: var(--hero-height);
  background: var(--color-primary);
  color: white;
  position: relative;
  z-index: var(--z--hero);
}

/* responsive */

@media (max-width: 900px) {
}
