.main {
  flex-grow: 1;
  width: 100%;
  margin-top: var(--header-height);
}

.main-content {
  max-width: var(--page-width);
  margin: 0 auto;
  padding: 0 var(--gap) var(--gap);
}

/* responsive */

@media (max-width: 900px) {
}
