.footer {
  background: var(--color-primary);
}

.footer-content {
  color: white;
  margin: var(--gap2) auto;
  max-width: var(--page-width);
  padding: 0 var(--gap2);
}

.footer .brand {
  color: white;
  margin-bottom: var(--gap2);
}

.footer .brand .logo-html-text {
  font-size: var(--font-size--h2);
}

.copy {
  font-size: var(--font-size--tiny);
}

/* responsive */

@media (max-width: 900px) {
  .footer-content {
    display: block;
  }
}
